<h2>New posts</h2>


<form class="" action="/new" method="POST">

<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">New post:</label>
  <textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="6" placeholder="Type new post"></textarea>
</div>
<br/>
<button type="submit" class="btn btn-primary">Create</button>
</form>
